# project
.buildpath
.puli/
composer.lock
vendor/

# keeko
public/_files/*
public/_assets/*
public/_packages/*
packages/*
!packages/.gitkeep
res/assets/*
!res/assets/.gitkeep
res/files/*
!res/files/.gitkeep

# config
config/database.yaml
config/development.yaml
config/general.yaml
