<?php
// Here you have the opportunity to define your development environment.
// Rename this file to dev.php and it will be included in your keeko installation.
//
// Possible actions:
// - Define Keeko Constants
// - Set Firephp as debugger with AJAX Requests

define('KEEKO_PATH', dirname(__FILE__) . '/');
define('KEEKO_PATH_LIBS', KEEKO_PATH . '/../libs');
//define('KEEKO_PATH_MODULES', '');
//define('KEEKO_PATH_APPS', '');
define('KEEKO_PATH_CORE', '');


?>